*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}
body,
html{
	overflow-x: hidden;
}
body{
	overflow-y: hidden;
}
html.loading{
	overflow: hidden;
}
.container{
	width: 60%;
	margin: 0 auto;
}
.mobile{
	display: none;
}

.flex{
	display: flex;
}
.flex-space-between{
	justify-content: space-between;
}
.flex-justify-center{
	justify-content: center;
}
.flex-align-items-center{
	align-items: center;
}
.flex-column{
	flex-direction: column;
}
.btn{
	padding: 9px 35px;
	border-radius: 2rem;
	cursor: pointer;
}
.yellow{
	color: #eda71f;
}
.red{
	color: #cc2529;
}
.center-text{
	text-align: center;
}

header{
	position: fixed;
	padding-top: 40px;
	padding-bottom: 40px;
	width: 100%;
	z-index: 9;
	transition: .2s;
}
header.active{
	background-color: #553b2f;
	padding: 15px 0;
	transition: .2s;
}
nav{
	width: 100%;
}

.loading{
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #553b2f;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 11;
	transition: .7s;
	display: none;
}
.loading.close{
	transform: scale(0);
	opacity: 0;
}
.menu{
	margin-left: 16px;
}
nav a{
	font-size: 14px;
	color: #ffffff;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	margin: 0 16px;
	transition: .2s;
}
nav a:hover{
	text-decoration: underline;
}
nav .btn-login a{
	background-color: #ed1f41;
	border: 2px solid #ed1f41;
	transition: background-color .2s;
	box-sizing: border-box;
}
nav .btn-login a:hover{
	background-color: transparent;
	color: #ffffff;
	text-decoration: none;
}

.webdoor{
	height: 120vh;
	background-image: url(../imgs/webdoor.png);
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-attachment: fixed;
}
.webdoor .content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
}
.webdoor .title,
.webdoor .button{
	display: flex;
	justify-content: center;
	align-items: center;
}
.webdoor .subtitle h2{
	font-size: 24px;
	color: #ffffff;
	text-align: center;
	font-weight: 400;
	margin: 40px 0;
}
.webdoor .button a{
	color: #000000;
	font-weight: 700;
	background-color: #ffffff;
	border: 2px solid #ffffff;
	text-transform: uppercase;
	text-decoration: none;
	transition: .2s;
}
.webdoor .button a:hover{
	color: #ffffff;
	background-color: transparent;
}
.webdoor .content .container .baixar-app{
	transform: translateY(110px);
}
.webdoor .content .container .baixar-app p{
	font-size: 24px;
	color: #ffffff;
	font-weight: 400;
	margin-bottom: 25px;
}
.webdoor .baixar-app a{
	font-size: 16px;
	color: #ffffff;
	background-color: #d30731;
	text-decoration: none;
	text-transform: uppercase;
	padding: 13px 35px;
	border: 2px solid #d30731;
	transition: .2s;
}
.webdoor .baixar-app a:hover{
	background-color: transparent;
}
.webdoor .container{

}

.content .container{
	margin-top: 50px;
}
.content .container .left{
	flex: 2;
}
.content .container .right{
	flex: 1;
	width: 39%;
}
.content .container h3,
.depoimentos .container h3{
	color: #3f3f3f;
	font-size: 36px;
	font-weight: 400;
	text-transform: uppercase;
}
.content .container p{
	margin: 15px 0;
	font-size: 18px;
	color: #303030;
}
.content .container h4{
	font-size: 30px;
	font-weight: 400;
}
.content .container .right img{
	margin-top: -430px;
}

.numeros .container{
	margin: 100px auto;
}
.numeros .container > .flex{
	width: 100%;
	border: 1px solid #d1d1d1;
	border-radius: 9px;
}
.numeros .container .numeros-item{
	width: 33%;
	border-right: 1px solid #d1d1d1;
	padding: 18px 5px;
}
.numeros .container .numeros-item:last-child{
	border-right: none;
}
.numeros .container .numeros-item img{
	margin-right: 15px;
}
.numeros .container .numeros-item p{
	color: #303030;
	font-size: 24px;
	font-weight: 400;
}
.numeros .container .numeros-item p.numeros{
	font-size: 36px;
	font-weight: 600;
}

.slider .swiper-container {
    width: 100%;
    height: 480px;
		margin: 0 0 0 0;
}
.slider .depoimento-item{
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.09);
  position: relative;
  text-align: center;
  padding: 50px 20px 20px 20px;
}
.slider .depoimento-item .img{
	position: absolute;
	transform: translate(-50%, -50%);
	top: 0;
	left: 50%;
}
.slider .swiper-slide{
	display: flex;
	align-items: center;
}
.slider .swiper-slide .content .title{
	color: #3f3f3f;
	font-size: 30px;
	margin: 20px 0 20px 0;
}
.slider .swiper-slide .content p{
	color: #3f3f3f;
	font-size: 18px;
}

.baixeApp .container{
		text-align: center;
		margin-bottom: 80px;
}
.baixeApp .container p{
	color: #303030;
	font-size: 30px;
	margin-top: 80px;
	margin-bottom: 40px;
}
.baixeApp .container a{
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(left, #1e5799 0%, #e1004a 0%, #cf092a 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, #1e5799 0%,#e1004a 0%,#cf092a 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, #1e5799 0%,#e1004a 0%,#cf092a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#cf092a',GradientType=1 ); /* IE6-9 */
	color: #ffffff;
	text-decoration: none;
	font-size: 24px;
	text-transform: uppercase;
	padding: 18px 35px;
	font-weight: 300;
	text-align: center;
	transition: .2s;
}
.baixeApp .container a:hover{
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,.5)
}

footer .footer{
	background-color: #333333;
	padding-top: 60px;
}
footer .footer .footer-bottom{
	background-color: #212020;
	text-align: center;
	padding: 20px 0;
}

footer .footer .footer-column{
	width: 33%;
	margin-bottom: 60px;
}
footer .footer a{
	font-weight: 300;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;
	transition: .2s;
}
footer .footer a:hover{
	margin-left: 10px;
}
footer .footer .footer-bottom a:hover{
	margin-left: 0;
}
footer .footer a.yellow{
	color: #eda71f;
}
footer .footer h5{
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}

.modal-login{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0,0,0,.6);
	z-index: 10;
	transform: scale(0);
	border-radius: 50%;
	opacity: 0;
	transition: .5s;
}
.modal-login.open{
	transform: scale(1);
	opacity: 1;
	border-radius: 0%;
}
.modal-login .modal-content{
	background-color: #ffffff;
	padding: 35px 0px 0px 0px;
	width: 570px;
	border-radius: 10px;
	position: relative;
}
.modal-login .modal-content .title-modal{
	color: #573c30;
	font-size: 21px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}
.modal-login .modal-content .form-control{
	position: relative;
	width: 50%;
	margin: 0 auto;
	margin-bottom: 16px;
}
.modal-login .modal-content .form-control img.img-campo{
	position: absolute;
	width: 16px;
	height: 10px;
	top: 50%;
	transform: translate(0, -50%);
	left: 35px;
}
.modal-login .modal-content .form-control img.img-campo.key{
	width: 22px;
	height: 8px;
	left: 30px;
}
.modal-login .modal-content input{
	background-color: #573c30;
	padding: 12px 35px;
	width: 100%;
	border: 0;
	border-bottom: 3px solid #3e2b22;
	border-radius: 1.5rem;
	position: relative;
	outline: none;
	text-indent: 15px;
	color: #d7cdc9;
	font-size: 18px;
}
.modal-login .modal-content label{
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translate(0%, -50%);
	left: 55px;
	color: #d7cdc9;
	font-size: 18px;
}
.modal-login .modal-content a.forget{
	color: #573c30;
	font-size: 14px;
	text-align: center;
}
.modal-login .modal-content button{
	width: 210px;
	margin: 0 auto;
	background-color: #dba012;
	border: 1px solid #dba012;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 18px;
	margin-bottom: 30px;
	cursor: pointer;
	transition: .2s;
}
.modal-login .modal-content button:hover{
	background-color: transparent;
	color: #dba012;
}
.modal-login .modal-footer{
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	background-color: #ed1f41;
	padding: 15px 0;
	border-radius: 0 0 10px 10px;
}
.modal-login .modal-footer a{
	color: #ffffff;
	text-decoration: none;
}
.modal-login .close-modal{
	position: absolute;
	right: 30px;
	top: 30px;
	cursor: pointer;
}

.flex-between-mobile{
	justify-content: flex-end;
}
.menu-burger{
	width: 30px;
	height: 36px;
	position: relative;
	cursor: pointer;
	z-index: 10;
	transition: .5s;
	right: 0;
}
.menu-burger.open{
	right: -50px;
}
.menu-burger .top,
.menu-burger .middle,
.menu-burger .bottom{
	position: absolute;
	width: 100%;
	height: 6px;
	background-color: #ffffff;
	border-radius: 2rem;
	transition: .2s;
}
.menu-burger .middle{
	top: 50%;
	transform: translate(0, -50%);
}
.menu-burger .bottom{
	bottom: 0;
}
.menu-burger.open .top{
	transform: rotate(45deg) translate(0, -50%);
	top: 46%;
}
.menu-burger.open .middle{
	width: 0;
}
.menu-burger.open .bottom{
	transform: translate(0, -50%) rotate(-45deg);
	top: 50%;
}
