@media(max-width: 1440px){
	.container{
		width: 80%;
	}
}
@media(max-width: 1366px){
	.webdoor{
		height: 123vh;
	}
	.container{
		width: 85%;
	}
	.webdoor .content{
		margin-top: 0px;
	}
	.webdoor .content .title img{
		width: 50%;
	}
	.content .container .right img{
		margin-top: -395px;
	}
	.webdoor .content .container .baixar-app{
		transform: translateY(30px) translateX(60px);
	}
}
@media(max-width: 1280px){
	.btn {
    padding: 9px 25px;
	}
}

@media(max-width: 1024px){
	.mobile{
		display: block;
	}
	.webdoor .content .title img{
		width: 100%;
	}
	.numeros .container .numeros-item p {
    font-size: 16px;
	}
	.menu{
		position: fixed;
		right: -100%;
		top: 0;
		bottom: 0;
		background-color: #553b2f;
		display: flex;
		flex-direction: column;
		padding-top: 36px;
		transition: .5s;
	}
	.menu.open{
		right: 0;
	}
	nav .btn-login a{
		margin-right: 50px;
	}
	.webdoor {
    height: 100vh;
		background-position: -400px 0;
	}
	.content .container{
		text-align: center;
	}
	.webdoor .content .container .baixar-app {
    transform: translateY(0px) translateX(0);
	}
}

@media(max-width: 768px){
	.webdoor {
		background-position: -300px 0;
	}
	.content .container .right img {
    margin-top: -100px;
	}
	.numeros .container .numeros-item p.numeros {
    font-size: 20px;
	}
	.numeros .container .numeros-item p {
    font-size: 9px;
	}
	.slider .swiper-container {
    width: 100%;
    margin: 0 0 0 0;
	}
	.footer .container > .flex{
		flex-direction: column;
	}
	footer .footer .footer-column{
		width: 100%;
		text-align: center;
	}
	.menu-burger{
		width: 36px;
	}
}

@media(max-width: 500px){
	header .container > .flex > a > img{
		width: 80%;
	}
	nav .btn-login a {
    margin-right: 30px;
	}
	.menu-burger{
		height: 30px;
		width: 30px;
	}
	.menu-burger.open{
		right: -30px;
	}
	.content .container .right img{
		display: none;
	}
	.content .container .right{
		width: 0;
		flex: 0;
	}
	.content .container .left{
		width: 100%;
		text-align: left;
	}
	.content .container h3 span,
	.depoimentos .container h3 span{
		font-weight: 700;
	}
	.content .container h3,
	.depoimentos .container h3{
		font-size: 27px;
	}
	.content .container p{
		font-size: 16px;
	}
	.numeros .container > .flex{
		flex-direction: column;
		border: 0;
	}
	.numeros .container .numeros-item{
		width: 100%;
		border: 1px solid #d1d1d1;
		border-radius: 9px;
		margin: 20px 0;
	}
	.numeros .container .numeros-item:last-child{
		border-right: 1px solid #d1d1d1;
	}
	.numeros .container{
		margin: 50px auto;
	}
	.baixeApp .container a{
		font-size: 18px;
		padding: 15px 45px;
	}

	.menu{
		margin: 0;
		box-shadow: 0px -5px 5px 0px rgba(0,0,0,.9);
	}
	.menu div{
		border-bottom: 1px solid rgba(255,255,255,.1);
	}
	.menu div a{
		display: block;
		padding: 15px 40px;
		margin: 0;
	}
	.modal-login .modal-content{
		width: 90%;
	}
}

@media(max-width: 475px){
	nav a{
		font-size: 9px;
	}
	.menu-burger {
    height: 25px;
    width: 25px;
	}
	.webdoor .baixar-app a{
		padding: 13px 25px;
	}
	.baixeApp .container a{
		padding: 15px 30px;
		font-size: 15px;
	}
	.slider .swiper-slide .content p{
		font-size: 12px;
	}
	.slider .swiper-slide .content .title{
		font-size: 25px;
	}
}
