@media(max-width: 1440px){
	.container{
		width: 80%;
	}
}
@media(max-width: 1366px){
	.webdoor{
		height: 123vh;
	}
	.container{
		width: 85%;
	}
	.webdoor .content{
		margin-top: 0px;
	}
	.webdoor .content .title img{
		width: 50%;
	}
	.content .container .right img{
		margin-top: -395px;
	}
	.webdoor .content .container .baixar-app{
		transform: translateY(30px) translateX(60px);
	}
}
@media(max-width: 1280px){
	.btn {
    padding: 9px 25px;
	}
}
